/* Default, desktop, laptop, tab */
.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
}

.navbar-solid {
    background-color: var(--bs-body-bg) !important;
    transition: background-color 0.3s ease;
}

.navbar-transparent .navbar-brand, .navbar-transparent .nav-link, .navbar-transparent .nav-item .active, .navbar-transparent .toogle-mode {
    color: white;
}

.toggler-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

html {
  scroll-padding-top: 80px;
}

section {
    width: 100%;
    min-height: 30vh;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.nav-link.active {
    border-bottom: 1px solid;
}

#main-profile {
    position: absolute;
    right: 0;
    left: 0;
    top: 25%;
}

.text-shadow {
    color: white;
    text-shadow: 0px 0px 15px black;
}

.text-shadow-inherit {
    text-shadow: 0px 0px 15px black;
}

.hoverable:hover {
    text-shadow: 0px 0px 50px white;
}

[data-bs-theme="dark"] .skill-card {
  border: 2px solid white;
}

[data-bs-theme="light"] .skill-card {
  border: 2px solid black;
}

[data-bs-theme="light"] .btn-custom {
    color: white;
    background-color: rgb(34, 34, 34);
}

[data-bs-theme="light"] .btn-custom:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

[data-bs-theme="dark"] .btn-custom {
    color: black;
    background-color: white;
}

[data-bs-theme="dark"] .btn-custom:hover {
    color: white;
    background-color: rgba(34, 34, 34, 0);
    border: 1px solid white;
}

[data-bs-theme="dark"] .tech-badge {
    background-color: white;
    color: black;
}

[data-bs-theme="light"] .tech-badge {
    background-color: black;
    color: white;
}

.sosial-media-icon:hover {
    transform: translateY(-5px);
}

.sosial-media-icon#linkedin:hover i {
    color: rgb(45, 129, 255);
}

.sosial-media-icon#instagram:hover i {
    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sosial-media-icon#email:hover i {
    color: red;
}

.sosial-media-icon#github1:hover i, .sosial-media-icon#github2:hover i {
    color: black;
    text-shadow: 0px 0px 2px white;
}

/* Phone */
@media screen and (max-width: 768px) {
    #main-profile {
        position: absolute;
        top: 10%;
    }
}